<section class="result-page">
  <div class="result-card">
    @if (loading()) {
      <p-skeleton shape="circle" size="4.5rem" />
      <p-skeleton height="2rem" width="60%" styleClass="mt-5" />
      <p-skeleton height="1rem" width="80%" styleClass="mt-3" />
      <p-skeleton height="7rem" styleClass="mt-6" />
    } @else {
      <span class="result-icon result-icon--success"><i class="pi pi-check"></i></span>
      <h1>{{ 'shop.checkout.success.title' | translate }}</h1>
      <p>{{ 'shop.checkout.success.subtitle' | translate }}</p>

      @if (order()) {
        <dl class="result-summary">
          <div>
            <dt>{{ 'shop.checkout.success.orderNumber' | translate }}</dt>
            <dd>#{{ order()!.orderNumber }}</dd>
          </div>
          <div>
            <dt>{{ 'shop.checkout.success.total' | translate }}</dt>
            <dd>{{ order()!.total | currencyBrl }}</dd>
          </div>
          <div>
            <dt>{{ 'shop.checkout.success.items' | translate }}</dt>
            <dd>{{ order()!.items.length }}</dd>
          </div>
        </dl>

        <div class="result-actions">
          <a [routerLink]="['/cliente/pedidos', order()!.id]" class="primary-link">
            <i class="pi pi-eye"></i>
            {{ 'shop.checkout.success.viewOrder' | translate }}
          </a>
          <a routerLink="/cliente" class="secondary-link">
            <i class="pi pi-home"></i>
            {{ 'shop.checkout.success.goToDashboard' | translate }}
          </a>
        </div>
      } @else {
        <div class="result-actions">
          <a routerLink="/cliente/pedidos" class="primary-link">
            <i class="pi pi-list"></i>
            {{ 'shop.checkout.success.viewOrders' | translate }}
          </a>
          <a routerLink="/loja" class="secondary-link">
            <i class="pi pi-arrow-left"></i>
            {{ 'shop.checkout.success.backToShop' | translate }}
          </a>
        </div>
      }

      <span class="result-note">
        <i class="pi pi-envelope"></i>
        {{ 'shop.checkout.success.emailInfo' | translate }}
      </span>
    }
  </div>
</section>
