<section class="not-found-page">
  <div class="not-found-card">
    <span class="not-found-icon"><i class="pi pi-compass"></i></span>
    <span class="error-code">404</span>
    <h1>{{ 'notFound.title' | translate }}</h1>
    <p>{{ 'notFound.description' | translate }}</p>

    <div class="not-found-actions">
      <a routerLink="/" class="primary-link">
        <i class="pi pi-home"></i>
        {{ 'notFound.backHome' | translate }}
      </a>
      <a routerLink="/loja" class="secondary-link">
        <i class="pi pi-shopping-bag"></i>
        {{ 'notFound.browseShop' | translate }}
      </a>
    </div>
  </div>
</section>
